@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
    margin: 0; padding: 0; box-sizing: border-box; font-family: 'Mulish', sans-serif;
}

html{
  scroll-behavior: smooth;
}

.navbar-brand{
  font-size: 2rem!important;
  color: #565387!important;
}

.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}

.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

.navbar a:hover{
  color: #3498db!important;
}

@media (max-width:991px){
  .navbar-brand{
      font-size: 1.5rem !important;
  }

  .menu_active{
      font-weight: bold;
      border-bottom: none;
  }
}


.logo_style{
  height: 50px;
  width: 55px;
}

.UnderlineCss{
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin-top: 1em!important;
}
.UnderlineCss{
	margin-top: 1em!important;
}
.UnderlineCss::after {
	content: "";
	width: 150px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #ffdc12;
	left: 0;
	right: 0;
	bottom: -10px;
}

/* sign up  */
.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}
.form-control:focus {
	border-color: #5cb85c;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 450px;
	margin: 0 auto;
	/* padding: 30px 0; */
  	font-size: 15px;
}
.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}    	
.signup-form a {
	color: rgb(88, 86, 86);
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #5cb85c;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}

/* login css */
.login-form {
  width: 400px;
  margin: 30px auto;
}
.login-form form {        
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .login-btn {
  border-radius: 2px;
}
.input-group-prepend .fa {
  font-size: 18px;
}
.login-btn {
  font-size: 15px;
  font-weight: bold;
  min-height: 40px;
}
.social-btn .btn {
  border: none;
  margin: 10px 3px 0;
  opacity: 1;
}
.social-btn .btn:hover {
  opacity: 0.9;
}
.social-btn .btn-secondary, .social-btn .btn-secondary:active {
  background: #507cc0 !important;
}
.social-btn .btn-info, .social-btn .btn-info:active {
  background: #64ccf1 !important;
}
.social-btn .btn-danger, .social-btn .btn-danger:active {
  background: #df4930 !important;
}
.or-seperator {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}


/* constact */
.btn-style {
  padding: 12px 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
}

.sub-heading{
  font-size: 1.2rem;
  color: rgb(113, 151, 160);
}
.signupPara{
  font-size: 1.2rem;
  color: #6a9490;
}

/* Home page  */
.main_div{
  height: 652px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(50, 198, 224, 0.459), rgb(202, 17, 226));

}
.text-color{
  color: #b1f70f;
}

/* About Us page Label  */
.boldStyleLabel label{
  font-weight: 900;
}

.dynamicNameHome{
  font-size: 4rem;
  color: #f0ac19;
  text-transform: uppercase;
}

/* 404 error page  */
#notfound{
  position: relative;
  height: 81vh;
}

#notfound .notfound{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notfound{
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.notfound .notfound-404{
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  z-index: -1;
}

.notfound .notfound-404 h1{
  font-family: "Maven Pro", sans-serif;
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notfound h2{
  font-family: "Maven Pro", sans-serif;
  font-size: 46px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}

.notfound a{
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #189cf0;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  transition: 0.2s all;
}

.notfound a:hover{
  background-color: #fff;
  border-color: #189cf0;
  color: #189cf0;
}

@media only screen and (max-width:480px){
  .notfound .notfound-404 h1{
    font-size: 162px;
  }
  .notfound h2{
    font-size: 26px;
  }
}